/* =========================
   WATCHLIST
========================= */


.watchlist{

  width:100%;

  padding:24px;

  background:#f3f5f7;

  min-height:max-content;

}





/* HEADER */

.watchlist-header{

  display:flex;

  justify-content:space-between;

  align-items:center;

  margin-bottom:20px;

}


.watchlist-header h2{

  color:#1f2937;

  font-size:24px;

}



.watchlist-header span{

  color:#6b7280;

}







/* SEARCH */


.search-box{

  display:flex;

  align-items:center;

  gap:10px;

  padding:12px 15px;

  background:white;

  border:1px solid #e5e7eb;

  border-radius:12px;

  margin-bottom:20px;

}



.search-box input{

  width:100%;

  border:none;

  outline:none;

  background:transparent;

}







/* STOCK LIST */


.watchlist-items{

  display:flex;

  flex-direction:column;

  gap:14px;

}





/* STOCK CARD */


.watch-item{

  position:relative;

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:18px;

  background:white;

  border-radius:14px;

  border:1px solid #edf1f7;

  box-shadow:0 3px 12px rgba(0,0,0,.06);

}






.stock-left h4{

  margin:0;

  color:#1f2937;

}



.stock-right h3{

  margin:0;

  color:#111827;

}



.up{

  color:#16a34a;

}



.down{

  color:#dc2626;

}






/* ACTIONS */


.watch-actions{

  position:absolute;

  right:10px;

  top:50%;

  transform:translateY(-50%);

  display:flex;

  gap:8px;

  padding:8px;

  background:white;

  border-radius:12px;

  z-index:5;

}




.buy-btn,
.sell-btn,
.icon-btn{

  border:none;

  padding:7px 12px;

  border-radius:8px;

  cursor:pointer;

}



.buy-btn{

  background:#dcfce7;

  color:#166534;

}



.sell-btn{

  background:#fee2e2;

  color:#991b1b;

}



.icon-btn{

  background:#f1f5f9;

}






/* =========================
   CHART
========================= */


.portfolio-chart{

  margin-top:30px;

  padding:20px;

  background:white;

  border-radius:16px;

  border:1px solid #edf1f7;

  height:380px;

}





.doughnut-wrapper{

  width:100%;

  height:280px;

  position:relative;

}






/* =========================
   DARK MODE
========================= */


body.dark-mode .watchlist{

  background:#0b1220;

}


body.dark-mode .watch-item,
body.dark-mode .portfolio-chart,
body.dark-mode .search-box{

  background:#111827;

  border-color:#1e293b;

}



body.dark-mode .watchlist-header h2,
body.dark-mode .stock-left h4,
body.dark-mode .stock-right h3,
body.dark-mode .portfolio-chart h3{

  color:#f9fafb;

}


body.dark-mode .watch-actions{

  background:#111827;

}